*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F0DFB1;
}
/* ================================================================
    typography */
/* ================================================================
    layouts */
.container{
    width: 300px;
    max-width: 500px;
    padding:3rem 1.5rem ;
    background-color: white;
    border-radius: 20px;
    margin: 0 1rem;
}
.container h2{
    margin-bottom: 1rem;
}
/* convert to box */
.convert-To{
    margin:1rem 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.select-contury select{
    border: none;
    outline:  none;
}
.select-contury img{
    width: 30px;
}
.convert-To i{
    font-size: 1.3rem;
    margin-top: 1rem;
}

/* select contuary */
.select-contury{
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 5px;
    justify-content: space-between;
}

/* input */
input{
    width: 100%;
    font-size: 1.1rem;
    outline: none;
    padding:.1rem .5rem;
    border: 1px solid lightgray;
    height: 3rem;
    border-radius: .8rem;
}

/* Get exchange button */
button{
    text-transform: uppercase;
    background-color: #953D81;
    color: white;
    border: none;
    font-size: .8rem;
    font-family: sans-serif;
    font-weight: 500;
    height: 2.5rem;
    border-radius: 10px;
    width: 100%;
    margin-top: 1rem;
    cursor: pointer;
}

/* ==================================================
    animation */
.container:hover{
    box-shadow: 0px 10px 50px rgba(0,0,0,0.1);
}